<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">
<head>
    <meta charset="UTF-8">
    <title>Consultation Des Mélanges</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container justify-content-center mt-3">
        <div class="row ">
            <div class="col-md-12">
                <div class="card" style="border-radius: 25px">
                    <div class="card-body">
                        <h5 class="display-4 mx-4 mb-4">Consulter</h5>
                        <hr class="mb-5"/>
                        <form class="form-inline" th:action="@{consultMlgs}" method="get">
                            <input class="form-control mr-sm-2" type="text" name="numLot" style="border-radius: 25px"
                                   th:value="${numLot}" placeholder="Search">
                            <button class="btn btn-outline-primary my-2 my-sm-0" style="border-radius: 25px"
                                    type="submit">
                                Chercher
                            </button>
                            <label style="margin-left: 2mm; font-weight: bold">Nb. Mélanges : </label>
                            <label style="margin-left: 4mm; " th:text="${result}"></label>
                        </form>
                        <div class="container mt-3">
                            <table class="table table-hover" style="border-radius: 20px" id="table">
                                <tr>
                                    <th>ID</th>
                                    <th>Num. Lot</th>
                                    <th>Num. Ref</th>
                                    <th>Num. Emplacement</th>
                                    <th>Date. Fabrication</th>
                                    <th>Date. Creation</th>
                                </tr>
                                <tr th:each="m:${melanges}">
                                    <td th:text="${m.getId()}"></td>
                                    <td th:text="${m.getNumLot()}"></td>
                                    <td th:text="${m.getMelangeRef().getNumRef()}"></td>
                                    <td th:text="${m.getMelangeRef().getEmplacement().getNumEmplacement()}"></td>
                                    <td th:text="${m.getDateFabrication()}"></td>
                                    <td th:text="${m.getDateReception()}"></td>
                                </tr>
                            </table>
                            <a th:href="@{formMelange}" style="border-radius: 25px"
                               class="btn btn-block btn-outline-success mb-3">Ajouter</a>
                            <ul class="nav nav-pills justify-content-center">
                                <li th:each="page,status:${pages}">
                                    <a style="border-radius: 50px"
                                       th:class="${status.index==currentPage?'btn btn-primary':'btn'}"
                                       th:href="@{consultMlgs(page=${status.index},size=${size},numLot=${numLot})}"
                                       th:text="${status.index}+1">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>