<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">
<head>
    <meta charset="UTF-8">
    <title>Consultation Des Réferences</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container justify-content-center mt-3">
        <div class="row ">
            <div class="col-md-12">
                <div class="card mb-3" style="border-radius: 25px">
                    <div class="card-body">
                        <h5 class="display-4 mx-4 mb-4">Consulter</h5>
                        <hr class="mb-5"/>
                        <form class="form-inline" th:action="@{consultRefs}" method="get">
                            <input class="form-control mr-sm-2" type="text" name="numRef" style="border-radius: 25px"
                                   th:value="${numRef}" placeholder="Search">
                            <button class="btn btn-outline-primary my-2 my-sm-0" style="border-radius: 25px"
                                    type="submit">
                                Chercher
                            </button>
                            <label style="margin-left: 2mm; font-weight: bold">Nb. Réferences : </label>
                            <label style="margin-left: 4mm; " th:text="${result}"></label>
                        </form>
                        <div class="container mt-3">
                            <table class="table table-hover" style="border-radius: 20px" id="table">
                                <tr>
                                    <th>ID</th>
                                    <th>Num. Réference</th>
                                    <th>Num. Emplacement</th>
                                </tr>
                                <tr th:each="r:${refs}">
                                    <td th:text="${r.id}"></td>
                                    <td th:text="${r.numRef}"></td>
                                    <td th:text="${r.emplacement.numEmplacement}"></td>
                                    <td>
                                        <form th:action="@{deleteRef}" method="post">
                                            <input type="hidden" name="id" th:value="${r.id}"/>
                                            <input type="hidden" name="page" th:value="${currentPage}"/>
                                            <input type="hidden" name="size" th:value="${size}"/>
                                            <button type="submit" style="border-radius: 25px"
                                                    class="btn btn-outline-danger">
                                                Supprimer
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            </table>

                            <ul class="nav nav-pills justify-content-center">
                                <li th:each="page,status:${pages}">
                                    <a style="border-radius: 50px"
                                       th:class="${status.index==currentPage?'btn btn-primary':'btn'}"
                                       th:href="@{consultRefs(page=${status.index},size=${size},numRef=${numRef})}"
                                       th:text="${status.index}+1">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>