<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">
<head>
    <meta charset="UTF-8">
    <title>Consultation Des Mélanges</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container justify-content-center mt-3">
        <div class="row ">
            <div class="col-md-12">
                <div class="card mb-3" style="border-radius: 25px">
                    <div class="card-body">
                        <h5 class="display-4 mx-4 mb-4">Mélanges</h5>
                        <hr class="mb-5"/>
                        <form class="form-inline" th:action="@{consultMlgs}" method="get">
                            <input class="form-control mr-sm-2" type="text" name="numLot" style="border-radius: 25px"
                                   th:value="${numLot}" th:placeholder="${result}+' mélanges'">
                        </form>
                        <div class="container mt-3">
                            <table class="table table-hover" style="border-radius: 20px" id="table">
                                <tr>
                                    <th>ID</th>
                                    <th>Num. Lot</th>
                                    <th>Num. Ref</th>
                                    <th>Num. Emplacement</th>
                                    <th>Date. Fabrication</th>
                                    <th>Date. Creation</th>
                                </tr>
                                <tr th:each="m:${melanges}">
                                    <td th:text="${m.getId()}"></td>
                                    <td th:text="${m.getNumLot()}"></td>
                                    <td th:text="${m.getMelangeRef().getNumRef()}"></td>
                                    <td th:text="${m.getMelangeRef().getEmplacement().getNumEmplacement()}"></td>
                                    <td th:text="${m.getDateFabrication()}"></td>
                                    <td th:text="${m.getDateReception()}"></td>
                                    <td>
                                        <form th:action="@{deleteMelange}" method="post">
                                            <input type="hidden" name="id" th:value="${m.id}"/>
                                            <input type="hidden" name="page" th:value="${currentPage}"/>
                                            <input type="hidden" name="size" th:value="${size}"/>
                                            <button type="submit" style="border-radius: 25px"
                                                    class="btn btn-outline-danger">
                                                Supprimer
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            </table>

                            <ul class="nav nav-pills justify-content-center">
                                <li th:each="page,status:${pages}">
                                    <a style="border-radius: 50px"
                                       th:class="${status.index==currentPage?'btn btn-primary':'btn'}"
                                       th:href="@{consultMlgs(page=${status.index},size=${size},numLot=${numLot})}"
                                       th:text="${status.index}+1">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>